.avatar {
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--color-bright-gray);

	&_size {
		&_base {
			width: 60px;
			height: 60px;

			& svg {
				width: 24px;
				height: 24px;
			}
		}

		&_large {
			width: 200px;
			height: 200px;

			& svg {
				width: 50px;
				height: 50px;
			}
		}
	}

	& svg {
		color: var(--color-spanish-gray)
	}
}
