@use '../../app/styles/mixins.scss';

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    @include mixins.use-panel-styles;

    &__title {
        margin-left: 20px;
        font-size: 18px;
        font-weight: bold;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__control {
        flex: none;
        margin-left: 20px;

        & button {
            display: flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            transition: background .3s ease;

            &:hover {
                background: var(--color-bright-gray);
            }

            & svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}