.text-input-group {
    position: relative;
    width: 100%;
    margin: 2rem 0;
    font-weight: 500;

    &__input {
        width: 100%;
        height: 2.5rem;
        border-bottom: 1px solid var(--color-ultramarine-blue);
        font-size: 1.125rem;
        line-height: 100%;
    }

    &--error &__input {
        border-color: var(--color-red);
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--color-spanish-gray);
        font-size: 0.875rem;
        pointer-events: none;
        transform: translateY(-100%);
        transition: .3s ease;
    }

    &__prompt {
        display: inline-block;
        padding-top: 4px;
        color: var(--color-red);
        font-size: 0.75rem;
        line-height: 1rem;
    }
}