@use '../../app/styles/mixins.scss';

.messages-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 16px;

    &__overflow {
        overflow: auto;
        height: 100%;
        @include mixins.use-custom-scrollbar;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
}