{{#if link}}
    <a href="{{href}}" class="square-button">
        {{>svg}}
    </a>
{{^}}
    <button type={{type}} disabled="{{disabled}}" class="square-button">
        {{>svg}}
    </button>
{{/if}}