<div class="error">
    <h1>{{ code }}</h1>
    <p>{{ description }}</p> 
    {{> button 
        link="true" 
        variant="filled"
        href=suggestedPage
        text=suggestedText
    }}
</div>